<%= render partial: 'spree/shared/error_messages', locals: { target: @sale } %>

<% content_for :page_title do %>
  <%= Spree.t(:new_sale) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:back), spree.admin_sales_path, { icon: 'icon-arrow-left' } %>
  </li>
<% end %>

<%= render 'spree/admin/sales/form' %>
